body{
    font-family: "Times New Roman";
    margin: 0;
}

.container{
    width: 1000px;
    margin: auto;
    border: 1px solid black;
}

/* HEADER */
.header{
    display: flex;
    border-bottom: 1px solid black;
}

.header-left{
    width: 25%;
    border-right: 1px solid black;
    text-align: center;
    
}

.header-center{
   
   
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
}

.header-right{
    width: 50%;
    display: flex;
    align-items: center;
   
}

.header-right h2{
    text-align: center;
    margin: 0;
    width: 100%;
}

/* MAIN */
.main{
    display: flex;
}

/* MENU */
.menu{
    width: 25%;
    border-right: 1px solid black;
}

.menu-title{
    font-weight: bold;
    padding: 8px;
    border-bottom: 1px solid black;
    background: #bd981e;
    border: 2px solid black;
    margin:0;
}

.menu a{
    display: block;
    padding: 6px 10px;
    
    text-decoration: none;
    color: black;
    margin:5px;
    border: 3px solid black;
    background: #f9f9f9;
}

.menu a:hover{
    background: #09c4e4;
}

/* CONTENT */
.content{
    width: 75%;
    padding: 10px;
}

.content img{
    float: right;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 300px;

}
.img-left{
    height: auto;
    display: block;
    width: 100%;
}

/* FOOTER */
.footer{
    border-top: 1px solid black;
    padding: 10px;
    font-size: 14px;
}


