table{
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
}
body{
    font-family:Times New Roman;
    background-color: #f4f4f4;
    font-size: 14;
    font-weight: bold;
}
th, td{
    
    text-align: center;
}
th{
    background-color: #75de79;;
}
.sang {
    background-color: #92dd10;
}
.chieu {
    background-color: #11a3e1;
}
