body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.main {
    display: flex;
    width: 100%;
    height: 100vh;
}
.menu{
    width: 15%;
    background: #d8c7c7;
}
.menu a{
    display: block;
    padding: 12px;
    color: rgb(17, 148, 163);
    
}
.menu2{
    background-color: aquamarine;
    width: 85%;
}